 # PostgreSQL. Versions 7.4 and 8.x are supported.

development:
  adapter: postgresql
  encoding: unicode
  database: cornhole_keeper_development
  pool: 5
  username:
  password:
  host: 127.0.0.1

test:
  adapter: postgresql
  encoding: unicode
  database: cornhole_keeper_test
  pool: 5
  username:
  password:
  host: 127.0.0.1

